# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# Logs
*.log
worklist_generator_log.txt

# VS Code
.vscode/

# Virtual env
venv/
.env/

# Ignore virtual environments
.venv/

# Build artifacts
dist/
build/

# MacOS junk
.DS_Store